.footer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    position: fixed;
    background: rgb(12, 7, 6);
    border-top: 3px solid rgba(12, 7, 6, 0.3);
    bottom: 0;
    left: 0;
}

.button {
    height: 30px;
    width: auto;
    padding: 5px 10px;
    border: 2px solid rgba(255,255,255,0.4);
    border-radius: 5px;
}

.button :hover {
    cursor: pointer;
}

.button-image {
    object-fit: cover;
    height: 100%;
}