.hero-container {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

#background-video{
    z-index: -1;
    min-width: 100%;
    min-height: 100%;
    float: left;
    top: 0;
    padding: none;
    position: fixed;
}

.hero-label {
    width: 100%;
    margin-bottom: 10vh;
    text-align: justify;
    height: 30%;
    padding-top: 0;
}

.hero-name {
    color: rgb(243,240,237);
    font-size: 5em;
    padding-left: 27%;
    margin: 0;
    padding-bottom: 0;
    text-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}

.hero-title {
    color: rgb(243,240,237);
    margin-top: 0;
    font-size: 2.7em;
    font-weight: 400;
    padding-top: 0;
    padding-left: 27.2%;
    line-height: 0.7em;
    font-variant-caps: small-caps;
    text-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}

.hero-bottom-bar {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    height: 70px;
    margin-bottom: 20px;
    position: absolute;
    bottom: 0;
}

.hero-nav-icon {
    object-fit: contain;
    height: 100%;
    border-radius: 50%;
}

.hero-bottom-bar:hover {
    cursor: pointer;
}

@media only screen and (max-width: 800px) {
    .hero-label {
        height: 25%;
        margin-bottom: 25vh;
    }
    .hero-title {
        font-size: 1.5em;
        padding-left: 5.2%;
        font-weight: 400;
    }
    .hero-name {
        padding-left: 5.1%;
        font-size: 3em;
        margin-top: 15px;
    }
    .hero-bottom-bar {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        height: 50px;
        margin-bottom: 20px;
        position: absolute;
        bottom: 0;
    }
}